* {
    margin: 0px;
    padding: 0px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    scroll-behavior: smooth;
}

.cont-princ {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.logo {
    &:hover {
        -webkit-animation: rotate-scale-down-diag-2 0.7s linear both;
        animation: rotate-scale-down-diag-2 0.7s linear both;
    }
}

.cont-venimos {
    position: relative;
    z-index: 1;
    top: -95.5px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    letter-spacing: 0;
    &::after {
        content: ".";
    }
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    letter-spacing: 0;
}

.h2-epi {
    padding-top: 56px;
    color: #FFFFFF;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    letter-spacing: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    a {
        text-decoration: none;
        display: inline;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        text-transform: uppercase;
        -webkit-transition: color 2s;
        transition: color 2s;
        &:hover {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #00F3BB;
            letter-spacing: 0;
            line-height: 28px;
            text-decoration: line-through;
            font-weight: bold;
        }
        &:active {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: rgba(6, 10, 36, 0.56);
            letter-spacing: 0;
            line-height: 28px;
            text-decoration: line-through;
        }
    }
}

.cont-princ,
.cont-invitados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cont-venimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navmenu {
    min-width: 320px;
    min-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.tachado {
    text-decoration: line-through;
}

.boton {
    background-color: #00F3BB;
    border: 0px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    -webkit-transition: color 1s;
    transition: color 1s;
    &:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF;
    }
}

.ele-spoti {
    border-width: 0px;
    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition-duration: 0.7s;
        transition-duration: 0.7s;
    }
}

.imagen-phone {
    width: 100%;
    min-width: 320px;
    min-height: 519px;
}

.item-invitado {
    width: 100%;
    min-width: 320px;
    min-height: 243px;
    margin: 0px;
    &:hover {
        -webkit-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
        -webkit-transition-duration: 0.7s;
        transition-duration: 0.7s;
    }
}

.cont-invitados__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cont-nues-tem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.label-svg {
    font-size: 24px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.item-svg {
    height: 104px;
}

.cont-final {
    position: relative;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.h2-final,
.cont-final {
    text-align: center;
}

.h2-final {
    color: #FFFFFF;
    margin-top: 64px;
}

.pie-pagina {
    background-color: #D9D9D9;
}

.div-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.icon {
    height: 28px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.label-equis {
    display: none;
}

.cont-epi__svg,
.cont-final__svg,
.cont-epi__svg2 {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: -1px;
}

.cont-epi__svg2 {
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 88%;
}

.cont-final__svg {
    position: absolute;
    top: -1px;
    left: 0px;
    height: 30px;
}

.cont-epi,
.items-podcast {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
}

.cont-epi {
    z-index: 0;
}

@import "./_style-animation.scss";
@import "./_style-phone.scss";
@import "./_style-desktop.scss";